
/* Basic styling and headers */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    color: #f4abc4;
    text-decoration: none;
}

body {
    background: #333456;
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-size: 4rem;
    color: white;
    font-weight: 700;
    text-align: center;
    margin-top: 2.5vw;
    font-size: clamp(2rem, 0.8854rem + 5.0955vw, 7rem);
}
.mottoContainer {
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    margin: 5vw 0 15vw 0;
}
.mottoContainer h2 {
    width: 65%;
    font-size: clamp(1rem, 0.8885rem + 0.5096vw, 1.5rem);
    padding: 2.5vw 2.5vw;
    font-weight: 400;
    text-align: center;
    color: #7B7171;
    border-right: 7vw solid #333456;
    border-left: 7vw solid #333456;
}

/* Universal lesson and plans styling */

.lessonWrapper {
    padding: 2.5vw 0;
    border-top: 5px solid white;
    margin-bottom: 10vw;
}

.lessonWrapper h3 {
        color: white;
        font-weight: 500;
        text-align: center;
        font-size: clamp(1rem, 0.7771rem + 1.0191vw, 2rem);
}

.lessonContainer {
    margin: 5vw 0;
}

.planCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 10px;
    padding: 30px 0;
    transition: .3s;
    border-radius: 2vw;
}

.planCard:hover {
    box-shadow: 13px 10px 17px -8px #5E609F;
}


.planCard .price {
    font-size: clamp(2rem, 1.5539rem + 2.0395vw, 4rem);
    font-weight: 800;
}

.planCard .planName {
    color: #7B7171;
    padding: 5px 0;
    margin: 10px 0;
    border-top: 1px solid #7B7171;
    border-bottom: 1px solid #7B7171;
    width: 60%;
    text-align: center;
}

.planCard li {
    color: #7B7171;
    margin: 1rem 0;
    text-align: center;
}


.planCard .startBtn {
    background: black;
    color: white;
    border-radius: 5vw;
    width: 80%;
    max-width: 200px;
    padding: 10px 0;
    margin: 3vw 0 1vw 0;
    transition: .3s;
    cursor: pointer;
}

.planCard .startBtn:hover {
    transform: scale(1.1);
}

/* Lesson #1 Easy take off with flexbox */

.lessonOne {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.lessonOne .planCard {
    background: #ffffff;
    flex: 1 1 150px;
    min-width: 100px;
    max-width: 500px;
}

