
/* Basic styling and headers */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    transition: .3s;
    color: #f4abc4;
    text-decoration: none;
}

a:hover {
    color: #E75C8C;
}

body {
    background: #333456;
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-size: 4rem;
    color: white;
    font-weight: 700;
    text-align: center;
    margin-top: 2.5vw;
    font-size: clamp(2rem, 0.8854rem + 5.0955vw, 7rem);
}
.mottoContainer {
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    margin: 5vw 0 15vw 0;
}
.mottoContainer h2 {
    width: 65%;
    font-size: clamp(1rem, 0.8885rem + 0.5096vw, 1.5rem);
    padding: 2.5vw 2.5vw;
    font-weight: 400;
    text-align: center;
    color: #7B7171;
    border-right: 7vw solid #333456;
    border-left: 7vw solid #333456;
}

/* Universal lesson and plans styling */

.lessonWrapper {
    padding: 2.5vw 0;
    border-top: 5px solid white;
    margin-bottom: 3vw;
    display: flex;
    flex-direction: column;
}

.lessonWrapper h3 {
        color: white;
        font-weight: 500;
        text-align: center;
        max-width: 80%;
        align-self: center;
        font-size: clamp(1.5rem, 1.2771rem + 1.0191vw, 2.5rem);
    }

.lessonContainer {
    margin: 5vw 0;
}

.planCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    transition: .3s;
    border-radius: 2vw;
    background: #ffffff;
}

.planCard:hover {
    box-shadow: 13px 10px 17px -8px #5E609F;
}


.planCard .price {
    font-size: clamp(2rem, 1.5539rem + 2.0395vw, 4rem);
    font-weight: 800;
}

.planCard .planName {
    color: #7B7171;
    padding: 5px 0;
    margin: 10px 0;
    border-top: 1px solid #7B7171;
    border-bottom: 1px solid #7B7171;
    width: 60%;
    text-align: center;
}

.planCard li {
    color: #7B7171;
    margin: 1rem 0;
    text-align: center;
}


.planCard .startBtn {
    background: black;
    color: white;
    border-radius: 5vw;
    width: 80%;
    max-width: 200px;
    padding: 10px 0;
    margin: 3vw 0 1vw 0;
    transition: .3s;
    cursor: pointer;
}

.planCard .startBtn:hover {
    transform: scale(1.1);
}

/* Lesson #1 Easy take off with flexbox */

.lessonOne {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.lessonOne .planCard {
    flex: 1 1 150px;
    min-width: 100px;
    max-width: 500px;
    margin: 20px 10px;
}

/* Lesson #2 I've heards that grid is nice too */

.lessonTwo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "basic basic basic . . ."
                         ". standard standard standard standard ."
                         " . . . premium premium premium";
    gap: 4vw;
    margin: 5vw 3vw;
}


.lessonTwo #basicCard {
    grid-area: basic;
}

.lessonTwo #standardCard {
    grid-area: standard;

}

.lessonTwo #premiumCard {
    grid-area: premium;
}

/* Lesson #3 Do you want to see a card trick */

.lessonThreeWrapper {
    overflow-x: hidden;
}

.lessonThree {
    display: flex;
    justify-content: center;
    margin: 5vw 30px;
}

.lessonThree .planCard {
    width: 300px;
    box-shadow: 0 0 4rem black;
    overflow-x: hidden;
}

.lessonThree .planCard:hover {
    transform: translateY(-2rem);
}

.lessonThree .planCard:hover~.planCard {
    transform: translateX(130px);
}

.lessonThree .planCard:not(:first-child) {
    margin-left: -120px;
}
